{{# flash.default }}
    <div class="alert alert-default alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ . }}
    </div>
{{/ flash.default }}
{{# flash.info }}
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ . }}
    </div>
{{/ flash.info }}
{{# flash.dark }}
    <div class="alert alert-dark alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ . }}
    </div>
{{/ flash.dark }}
{{# flash.success }}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ . }}
    </div>
{{/ flash.success }}
{{# flash.warning }}
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ . }}
    </div>
{{/ flash.warning }}
{{# flash.danger }}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ . }}
    </div>
{{/ flash.danger }}