<div class="top  js--fixed-header-offset">
  <div class="container">
    <div class="row">
      <div class="col-xs-12  col-sm-6">
        <div class="top__slogan">
          Made with <small><span class="glyphicon  glyphicon-heart  tertiary-color"></span></small> for a healthy lifestyle
        </div>
      </div>
      <div class="col-xs-12  col-sm-6">
        <div class="top__menu">
          <ul class="nav nav-pills">
            <li><a href="#registerModal" role="button" data-toggle="modal">Register</a></li>
            <li><a href="#loginModal" role="button" data-toggle="modal">Login</a></li>
            <li class="dropdown"><a href="/account">My account</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>