<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content  center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3><span class="light">Login</span> to Just Pikd</h3>
        <hr class="divider">
      </div>
      <div class="modal-body">
        <form action="/login" method="post" class="push-down-15">
          <div class="form-group">
            <input type="text" id="name" name="email" class="form-control form-control--contact" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="text" id="subject" name="password" class="form-control form-control--contact" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">SIGN IN</button>
        </form>
      </div>
    </div>
  </div>
</div>