<div class="product-preview__thumb active js--preview-thumbs">
    <a href=".js--product-preview" data-src="/assets/images/dummy/w360/13.jpg">
        <img src="/assets/images/dummy/w66/13.jpg" alt="Single product thumbnail image" width="66" height="82" />
    </a>
</div>