{% extends "base.twig" %}

{% block title %}Products{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12  col-sm-3">
                <aside class="sidebar  sidebar--shop">
                    <h3 class="sidebar__title">
                        <span class="light">Awesome</span> Shop
                    </h3>
                    <hr class="shop__divider">
                    <div class="shop-filter">
                        <h5 class="sidebar__subtitle">Categories</h5>
                        <ul class="nav nav--filter">
                            {% for cat in categories %}
                                <li><a href="{{ cat.link }}">{{ cat.name }}</a></li>
                            {% endfor %}
                        </ul>
                        <hr class="divider">
                    </div>
                </aside>
            </div>

            <!-- Filtering -->
            <div class="col-xs-12  col-sm-9">
                <div class="grid">
                    <ul class="pagination  shop__amount-filter">
                        <li>
                            <a class="shop__amount-filter__link  hidden-xs" href="shop.html"><span class="glyphicon glyphicon-th"></span></a>
                        </li>
                        <li>
                            <a class="shop__amount-filter__link  hidden-xs" href="shop-list-view.html"><span class="glyphicon glyphicon-th-list"></span></a>
                        </li>
                    </ul>
                    <div class="shop__sort-filter">
                        <select class="js--isotope-sorting  btn  btn-shop">
                            <option value='{"sortBy":"price", "sortAscending":"true"}'>By Price (Low to High) &uarr;</option>
                            <option value='{"sortBy":"price", "sortAscending":"false"}'>By Price (High to Low) &darr;</option>
                            <option value='{"sortBy":"name", "sortAscending":"true"}'>By Name (Low to High) &uarr;</option>
                            <option value='{"sortBy":"name", "sortAscending":"false"}'>By Name (High to Low) &darr;</option>
                            <option value='{"sortBy":"rating", "sortAscending":"true"}'>By Rating (Low to High) &uarr;</option>
                            <option value='{"sortBy":"rating", "sortAscending":"false"}'>By Rating (High to Low) &darr;</option>
                        </select>
                    </div>
                    <hr class="shop__divider">

                    <!-- Products -->
                    {% for product in products %}
                        {% include 'modules/product_card.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
