<div class="col-xs-12 col-sm-4">
    <div class="product-preview">
        <div class="push-down-20">
            <img class="js--product-preview" alt="Single product image" src="{{ image_src }}" width="360" height="458">
        </div>
        <div class="product-preview__thumbs  clearfix">
            {{! TODO - Thumbs }}
            {{ nothing_here_yet }}
        </div>
    </div>
</div>