<div class="col-xs-12 col-sm-4">
    <div class="product-preview">
        <div class="push-down-20">
            <img class="js--product-preview" alt="Single product image" src="/assets/images/dummy/w360/13.jpg" width="360" height="458">
        </div>
        <div class="product-preview__thumbs  clearfix">
            <div class="product-preview__thumb  active  js--preview-thumbs">
                <a href=".js--product-preview" data-src="/assets/images/dummy/w360/13.jpg">
                    <img src="/assets/images/dummy/w66/13.jpg" alt="Single product thumbnail image" width="66" height="82" />
                </a>
            </div>
            <div class="product-preview__thumb  js--preview-thumbs">
                <a href=".js--product-preview" data-src="/assets/images/dummy/w360/9.jpg">
                    <img src="/assets/images/dummy/w66/9.jpg" alt="Single product thumbnail image" width="66" height="82" />
                </a>
            </div>
            <div class="product-preview__thumb  js--preview-thumbs">
                <a href=".js--product-preview" data-src="/assets/images/dummy/w360/10.jpg">
                    <img src="/assets/images/dummy/w66/10.jpg" alt="Single product thumbnail image" width="66" height="82" />
                </a>
            </div>
            <div class="product-preview__thumb  js--preview-thumbs">
                <a href=".js--product-preview" data-src="/assets/images/dummy/w360/14.jpg">
                    <img src="/assets/images/dummy/w66/14.jpg" alt="Single product thumbnail image" width="66" height="82" />
                </a>
            </div>
        </div>
    </div>
</div>