<div class="single-product__rating">
    <span class="glyphicon  glyphicon-star  star-on"></span>
    <span class="glyphicon  glyphicon-star  star-on"></span>
    <span class="glyphicon  glyphicon-star  star-on"></span>
    <span class="glyphicon  glyphicon-star  star-on"></span>
    <span class="glyphicon  glyphicon-star  star-off"></span>
</div>