<!-- Tabs -->
<div class="push-down-30">
    <div class="row">
        <div class="col-xs-12">
            <!-- Nav tabs -->
            <ul class="nav  nav-tabs">
                <li class="active"><a href="#tabDesc" data-toggle="tab">Description</a></li>
                <li><a href="#tabManufacturer" data-toggle="tab">Manufacturer</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane  fade  in  active" id="tabDesc">
                    <div class="row">
                        <div class="col-xs-12  col-sm-6">
                            <h5>Description</h5>
                            <p class="tab-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est purus, fringilla sit amet arcu quis, feugiat ultrices metus. Vestibulum lorem dolor, pharetra sit amet urna nec, hendrerit scelerisque risus. In hac habitasse platea dictumst. Vestibulum lorem dolor, pharetra sit amet urna nec, hendrerit scelerisque risus. Vestibulum lorem dolor, pharetra sit amet urna nec, hendrerit scelerisque risus. In hac habitasse platea dictumst.</p>
                        </div>
                        <div class="col-xs-12  col-sm-6">
                            <h5>About us</h5>
                            <p class="tab-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est purus, fringilla sit amet arcu quis, feugiat ultrices metus. Vestibulum lorem dolor, pharetra sit amet urna nec, hendrerit scelerisque risus. In hac habitasse platea dictumst. Vestibulum lorem dolor, pharetra sit amet urna nec, hendrerit scelerisque risus. Vestibulum lorem dolor, pharetra sit amet urna nec, hendrerit scelerisque risus. In hac habitasse platea dictumst.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane  fade" id="tabManufacturer">
                    <h5>Manufacturer details</h5>
                    <p class="tab-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est purus, fringilla sit amet arcu quis, feugiat ultrices metus. Vestibulum lorem dolor, pharetra sit amet urna nec, hendrerit scelerisque risus. In hac habitasse platea dictumst.</p>
                </div>
            </div>
        </div>
    </div>
</div>