{{% BLOCKS }}
{{< base }}

{{$ title }}{{ title }}{{/ title }}

{{$ content}}
<div class="woocommerce  push-down-30">
  <div class="container">
    <div class="row">
      <div class="col-xs-12  push-down-30">
        <h3>Cart</h3>
        <hr>
        <table class="shop-table  shop-cart">
        <thead>
            <tr class="cart_table_title">
              <th class="product-remove"></th>
              <th class="product-thumbnail"></th>
              <th class="product-name">Product</th>
              <th class="product-price">Price</th>
              <th class="product-quantity">Quantity</th>
              <th class="product-subtotal">Total</th>
            </tr>
          </thead>
          <tbody>
              {{# cart_products }}
                  {{> modules/cart_product_row }}
              {{/ cart_products }}
          </tbody>
        </table>
      </div>
      <div class="col-xs-12 col-sm-6">
      </div>
      <div class="col-xs-12 col-sm-6">
        <!-- Your order - table -->
        <h3  class="pull-right"><span class="light">Cart</span> Totals</h3>
        <table class="shop_table  push-down-30">
          <tfoot>
            <tr class="total">
              <th><strong>Order Total</strong></th>
              <td>
                <strong><span class="amount">{{ cart_totals.display_price }}</span></strong>
              </td>
            </tr>
          </tfoot>
        </table>
        <form action="/checkout" method="post">
            <input type="hidden" name="amount" value="{{ cart_totals.numeric_price }}">
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="{{ config.stripe.public_api_key }}"
              data-amount="{{ cart_numeric_price }}"
              data-name="{{ config.stripe.site_name }}"
              data-description="{{ cart_totals.num_products }} products ({{ cart_totals.display_price }})"
              data-image="{{ config.stripe.logo }}">
            </script>
        </form>
      </div>
    </div>
    <hr class="divider">
  </div>
</div>

{{/ content}}

{{/ base }}