{{% BLOCKS }}
{{< base }}

{{$ title }}Home{{/ title }}

{{$ content}}
    <p>Hello {{ name }}! This will be Just Pikd</p>

    <h3>Here are some products: </h3>
    {{# products }}
        {{> product_card }}
    {{/ products }}
{{/ content}}

{{/ base }}