{{% BLOCKS }}
{{< base }}

{{$ title }}{{ pr_name }}{{/ title }}

{{$ content}}
    <div class="container">
    <div class="push-down-30">
        <div class="row">
            {{> modules/product/images }}

            <div class="col-xs-12 col-sm-8">
                <div class="products__content">
                    <div class="push-down-30"></div>

                    <span class="products__category">{{ ca_name }}</span>
                    <h1 class="single-product__title">{{ pr_name }}</h1>
                    <span class="single-product__price">{{ list_cost }}</span>

                    <div class="in-stock--single-product">
                        <span class="in-stock">&bull;</span> <span class="in-stock--text">In stock</span>
                    </div>
                    <hr class="bold__divider">
                    <p class="single-product__text">{{ pr_description }}</p>
                    <hr class="bold__divider">
                    
                    {{> modules/product/options }}

                    <!-- Quantity buttons -->
                    <div class="quantity  js--quantity">
                        <input type="button" value="-" class="quantity__button  js--minus-one  js--clickable">
                        <input type="text" name="quantity" value="1" class="quantity__input">
                        <input type="button" value="+" class="quantity__button  js--plus-one  js--clickable">
                    </div>
                    <!-- Add to cart button -->
                    <form action="/cart" method="post">
                        <input type="hidden" name="product_id" value="{{ product_id }}">
                        <button class="btn btn-primary--transition">
                            <span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-shopping-cart"></span>
                            <span class="single-product__btn-text">Add to shopping cart</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{/ content}}

{{/ base }}